<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElementFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ElementFinder.Properties.Settings>
            <setting name="QuickSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExpandAfterSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShortView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </ElementFinder.Properties.Settings>
    </userSettings>
</configuration>